@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(5);

    border: solid 2px hsla(0, 0%, 0%, 1);
    padding: 5px 10px;

    filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.534));
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0.6rem 5rem;
    color: #ffffffea;
}

ul{
    display: flex;
}
li{
    list-style: none;
    margin-left: 3rem;
}

.home, section{
    height: 100vh;
}

section{
    padding: 10rem 10rem;
    color: white;
}

.part1{
    background-image: linear-gradient(315deg, rgba(72, 84, 97, 0.5) 0%, rgba(40, 49, 59, 0.8) 74%), url("./images/2.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.part2{
    background-image: linear-gradient(315deg, rgba(72, 84, 97, 0.5) 0%, rgba(40, 49, 59, 0.8) 74%), url("./images/3.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
}